*{
    color:white !important;
    text-shadow: 1px 1px 1px #000000 !important;
}

.watermark{
background-image: url("https://res.cloudinary.com/neuro-institute/image/upload/v1604563164/logo.png") !important;
max-width: 140px !important;
max-height: 70px !important;
}

.welcome {
    background: linear-gradient(-60deg, #ee7752, #e73c7e,tomato, #ffff00,#ffffff, #ffffff) !important;
    animation: gradient 25s ease infinite !important;
    -moz-animation: gradient 25s ease infinite !important;; /* Firefox */
    -webkit-animation: gradient 25s ease infinite !important;; /* Safari and Chrome */
    -o-animation: gradient 25s ease infinite !important;; /* Opera */
    background-size: 400% 400% !important;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}